
html {
    background-color: black;
}

body {
    margin: 0 10% 0 10%;
    background-color: white;
    min-height: 100vh;
    width: 80%;
    padding-top: 60px;
}

h1 {
    font-family: Anton;
    font-size: 30px;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: inherit;
    top: 0;
}

#header a {
    color: black;
    padding: 15px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home form {
    margin-top: 20px;
    text-align: center;
}

form label {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#email {
    text-align: center;
    border: 2px solid black;
    border-radius: 9px;
    width: 300px;
    height: 25px;
}

#submit {
    margin-top: 10px;
    border-radius: 9px;
    height: 25px;
}

#submit:hover {
    background-color: rgb(12, 2, 88);
    color: white;
}

#product-pic {
    height: 475px;
    width: 400px;
}

.specs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.spec-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spec-div svg {
    padding-right: 30px;
}

#price {
    text-align: center;
}

.price-card {
    text-align: center;
    border: solid thin black;
    padding: 25px;
    margin: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table td {
    padding: 10px;
}

@media screen and (max-width: 1180px) {
        .price-card {
            padding: 0px;
        }
}

@media screen and (max-width: 1000px) {
        .price-card {
            margin: 0;
        }
}